body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ecf0f1;
}

#cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 40px 0;
  text-decoration: none;
}

input[type=text] {
  border: none;
  padding: 5px 0 5px 5px;
}

input[type=submit] {
  background: #2196F3;
  color: white;
  height: 100%;
  border: none;
}